@charset "uth-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: bisque;
}

/* トップイメージ */
.top-hero {
    position: relative;
    width: 100%;
}

.main-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
}

body {
    background-color: oldlace;
}

/* 私について */
.about {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: papayawhip;
    clip-path: ellipse(75% 50% at 50% 50%);
    margin-top: -65px;
    text-align: center;  
}

/* 名前 */
.name {
    width: 100%;
    text-align: center;
}

.name div {
    width: 60%;
    height: 400px;
    margin: 0 auto;
}

.name img {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    object-fit: cover;
}

/* 制作物 */

.works {
    width: 100%;
    text-align: center;
}

.works-box {
    width: 80%;
    margin: 120px auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.works-box div {
    width: calc((100% - 10px) / 2);
}

.works img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    object-fit: cover;
    display: block;
}

footer {
    background-color: palegoldenrod;
    text-align: center;
}

.last-p {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: papayawhip;
    clip-path: ellipse(75% 50% at 50% 50%);
    margin-top: -65px;
    text-align: center;  
}

/* スマホサイズ440px以下の時のレイアウト調整 */
@media (max-width:440px) {
    header {
        flex-direction: column;
    }

    header h1 {
        text-align: center;
    }

    header ul {
        width: 100%;
    }

    .top-hero {
        width: 100%;
        height: 250px;
        /* 縦横伸ばして画質が悪くなるのを自動調整 */
        object-fit: cover;
    }

    .last-p {
        letter-spacing: 3px;
    }

}
